<div class="map-filter">
	<div id="label-cont">
		<div class="label-cont">
		    <div id="x0y0" class="box label-side">FAKE NEWS</div>
			<div id="label-4" class="label-side">analysis</div>
			<div id="label-3" class="label-side">commentary</div>
			<div id="label-2" class="label-side">opinion</div>
			<div id="label-1" class="label-side">speculation</div>
		</div>
	</div>

	<div id="grid">
	  <!-- FACTS -->
	  <div id="row-top" class="row">
	    <div id="x1y0" class="box box-top">news</div><div id="x2y0" class="box box-top">facts / stats</div><div id="x3y0" class="box box-top">interview</div>
	  </div><!-- facts -->

	  <!-- Analysis -->
	  <div class="row">
	  	<div id="x1y4" class="box"></div><div id="x2y4" class="box"></div><div id="x3y4" class="box"></div><div id="x4y4" class="box"></div><div id="x5y4" class="box"></div>
	  </div><!-- analysis -->

	  <!-- Reflection -->
	  <div class="row">
	  	<div id="x1y3" class="box"></div><div id="x2y3" class="box"></div><div id="x3y3" class="box"></div><div id="x4y3" class="box"></div><div id="x5y3" class="box"></div>
	  </div><!-- reflection -->

	  <!-- Opinion -->
	  <div class="row">
	    <div id="x1y2" class="box"></div><div id="x2y2" class="box"></div><div id="x3y2" class="box"></div><div id="x4y2" class="box"></div><div id="x5y2" class="box"></div>
	  </div><!-- opinion -->

	  <!-- Speculation -->
	  <div class="row">
	    <div id="x1y1" class="box"><span id="left">left</span></div><div id="x2y1" class="box"></div><div id="x3y1" class="box"></div><div id="x4y1" class="box"></div><div id="x5y1" class="box"><span id="right">right</span></div>
	  </div><!-- speculation -->
	</div>
</div>
