<div id="menubar-short">
    <a href="/" id="logo-container">
        <img id="logo-image" src="../images/favicon.ico"/>
        <div id="logo-text-container">
          <div id="logo-title">The Daily Gray</div>
        </div>
    </a>

   <a href="/"><span id="home-btn">Home</span></a>
</div>