<div id="menubar-short">
    <a href="/" id="logo-container">
        <img id="logo-image" src="../images/favicon.ico"/>
        <div id="logo-text-container">
          <div id="logo-title">Media Bias Map</div>
          <div class="lato-light logo-tagline"> A travel guide to online politics.</div>
        </div>
    </a>

   <a href="/"><span id="home-btn">Home</span></a>
</div>