body {
	width: 100%;
	font-family: 'Lato', serif;
	font-weight: 400;
	background-color: #fbfbfb;
	padding: 0px 5px 5px 5px;
	margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

	.lato-light{
		font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 10px;
    color: #a4a4a4;
	}

	a{
		font-family: 'Lato', serif;
		font-weight:  900;
	}

	a:hover{text-decoration: none; font-weight:800;}
	a:focus{text-decoration: none;}


	h2{
		font-size:24px;
		font-weight: 900;
		margin: 0px 0px 4px 0px;
		font-family: 'Lato', sans-serif;
		letter-spacing: .05em;
		line-height: 1.25em;
	}
	h2 a:hover{text-decoration:none !important; color: #fff;}

	h3{
		font-size: 40px;
		font-weight: 900;
	}

	h1{font-size: 18px;}

	h4{font-size: 20px;}
		h4:hover{text-decoration: none !important;}

	h5{font-size: 15px;}
	h6{
		font-size: 10px;
		display: inline-block;
	}
	p{
		margin:0px;
		font-size: 16px;
	}

	.hoverText:hover{
		cursor: pointer;
		text-decoration: underline
	}

	hr{
		margin: 10px 0px 5px 0px;
	}






/*====================
Main divs
====================*/

	#scrollable-body{

	}


	#main-cont{
		margin: auto;
		display: flex;
		flex-wrap:  wrap;
	}

	#plain-cont{
		margin: auto;
		display: flex;
		flex-wrap:  wrap;
	}

/*=============================
Menubar
*/

#menubar-container{
	height:105px;
	background-color: #ffffff;
	width: 100% ;
	padding:0px 0px 0px 0px;
	border-bottom:  1px solid #f2f2f2;
	overflow: hidden;
}

#menubar-short{
	height:60px;
	background-color: #ffffff;
	width: 100% ;
	padding:0px 0px 0px 0px;
	border-bottom:  1px solid #f2f2f2;
	overflow: hidden;
}

	#menubar-links-container{
		width: 100%;
		height: 50px;
		padding: 20px 5px 15px 2px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}

		#menubar-links-container a{
			padding:2px 20px 15px 20px;
		}

			#menubar-links-container a:hover{
				text-decoration: underline;
			}


#logo-container{
	display: inline-block;
	height:30px;
	margin: 8px 0px 0px 10px;
}

	#logo-image{
		display: inline-block;
		width:34px;
		vertical-align: bottom;
	}

	#logo-text-container{
		margin:  0px 2px 0px 6px;
		display: inline-block;
		color: #585858;
		line-height: 16px;
	}

		#logo-title{
			margin: 0px 2px 11px 2px;
			color: #585858;
			font-size: 20px;
		}

		#logo-tagline{
			margin:0px 2px 2px 2px;
			color: #a4a4a4;
			font-size:10px;
		}

		#home-btn{
			float: right;
			margin: 12px 10px 0px 0px;
			border: 1px solid #A9D0F5;
			color: #A9D0F5;
			padding: 8px 20px;
			border-radius: 25px;
			cursor: pointer;
		}


/* For small screens, dropdown map filter */
#toggle-filter-btn{
	float: right;
	margin: 10px 10px 0px 0px;
	font-weight: 900;
	border-radius:  25px;
	cursor: pointer;
	letter-spacing: 1px

}



#sign-up-btn{
	display: inline-block;
	background-color: #fff;
	border: 1px solid #B8DDFF ;
	font-family: 'Lato', sans-serif;
	color: #B8DDFF;
	padding: 2px 10px 2px 10px !important;
	margin:  1px 10px 0px 0px;
	font-size: 15px;
	border-radius:  25px;
}

	#sign-up-btn a:hover{
		text-decoration: none !important;
	}

#home-from-signup-success{
	display: block;
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	color: #a4a4a4;
	font-weight: 400;
}




/*=============================
Sidebar
*/

.sidebar{
	width: 100%;
	padding: 0px 0px 10px 0px;
	position: relative;
	margin-top: 10px;
}

	/* Helper Text */
	#helper-text-container{
		width:100%;
		padding: 15px 20px 5px 20px;
		max-width:  375px;
		color: #fff;
	}

		#helper-text-container h2 a{
			padding-bottom:  20px;
			font-weight: 300;
		}

			#sidebar-link-menu{
				bottom: 0;
				display: block;
				margin: 0px 0px 20px 0px;
				margin: auto;
				text-align: center;
				width: 100%;
			}

						#sidebar-link-menu a{
							padding: 20px 10px 10px 0px;
							font-size: 12px;
							color: #a4a4a4;
							font-weight: 200;
						}

						#blog-link{
							text-align: center !important;
							width: 100%;
							font-weight: 600 !important;
						}

	/* Search */

		#search-input{
			width: 100%;
			margin: auto;
			display: block;
			height: 50px;
			padding: 10px 10px 10px 10px;
			border: 1px solid #f2f2f2;
			border-radius: 3px;
			max-width:  375px;
			text-align: center;
		}

			#search-input:focus{
				outline: 1px solid #d8d8d8;
			}

			#search-input::placeholder{
				color:  #a4a4a4;
			}

			/* Map */

			#map-filter{
				background-image: url('../images/mapBackgroundSmall.png');
				background-size: contain;
				background-position: center;
			}

				@media(min-width: 950px){
					#map-filter{
						background-image: url('../images/mapBackgroundLarge.png') !important;
					}
				}

			#map-filter-container{
				display: block;
				width: 100%;
				margin: auto;
				max-width:  375px;
				margin-bottom: 20px;
			}

				.mapBox{
					width: 20%;
					height: 70px;
				}

				.mapBox:hover{
					cursor: pointer;
				}

				.box-label{
					line-height: 66px;
				}

			#reset-btn{
				text-align:center;
				padding:5px;
				font-size: 14px;
				display: block;
			}



/*=============================
Welcome Banner*/
#welcome-banner{
	height: 0px;
	width: 100%;
	max-width: 800px;
}

/*=============================
Loading
*/

#loader-container{
	width: 100px;
  height: 100px;
  background-color: #A9D0F5  ;
	background-image: -webkit-linear-gradient(-45deg, #A9D0F5 50%, #F5A9BC 50%);
	z-index: -1;
	padding: 20px;
	display: block;
	margin: auto;
	margin-top:  20vh;
}

#loader{

}

/*=============================
PostList*/

.postList {
  margin:auto;
  display: flex;
	padding: 0px;
	flex-wrap:  wrap;
	padding-bottom: 80px;
}
		.postInfo:hover{
			background-color: rgba(0,0,0,.3)
		}

		/* Post component */
		.postList  li{
			width: 100%;
			min-width: 200px;
		}

	.postImage{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		width: auto;
	}

	.postInfo {
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		z-index:  -1;
		padding: 10px 15px 10px 20px;

	}



		.postList li h2{
			display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
	        overflow: hidden;
	        z-index:  10;
	        color: #fff;
		}

		.postList li p {
			display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
		}


		/* Post item widths for responsiveness */
		@media(min-width: 600px){
			.postList li{
					width: 50%;
				}

		}

		@media(min-width: 950px){
			.postList li{
					width: 33.33%;
				}

		}

		@media(min-width: 1300px){
			.postList li{
				width: 25%;
			}
		}

		@media(min-width: 1600px){
			.postList li{
				width: 20%;
			}
		}






	@media(min-width: 600px){
				#menubar-links-container{
						display: inline-block;
						height: 47px !important;
						margin-left: 25px;
						padding:12px 20px 15px 40px;
						overflow-x: scroll;
						overflow-y: hidden;
					}
		}



		@media(min-width: 768px){
			.postListContainer{
				margin-top: 10px;
			}

			#menubar-links-container{
						display: inline-block;
						height: 47px !important;
						margin-left: 25px;
						padding:12px 20px 15px 20px !important;
						overflow-x: scroll;
						overflow-y: hidden;
					}


					.postInfo a{
						color: #fff;
						font-weight: 900;
					}

					.iframeContainer{
						width: 710px !important;
					}
		}

		@media(min-width: 950px){
				#no-scroll-body{
					height:100vh;
					overflow:hidden !important;
				}

					h2{font-size: 22px;}
					p{font-size: 14px;}

				#logo-container{
					float: left;
				}

				#menubar-container{
					height:50px;
					width: 100% ;
					padding:0px 0px 0px 0px;
					border-bottom:  1px solid #f2f2f2;
					overflow: hidden;
				}

				#menubar-links-container{
						max-width: 60%;
						display: inline-block;
						height: 47px !important;
						margin-left: 25px;
						padding:12px 20px 15px 0px !important;
						overflow-x: scroll;
						overflow-y: hidden;
					}



						#menubar-links-container a{
							padding:2px 20px 15px 20px;
						}

					#toggle-filter-btn{
						float: right;
						margin: 10px 15px 0px 0px;
						width: 10%;
						min-width: 100px;
						text-align: center;
					}

			.postListContainer{
				margin-top: 50px;
				overflow: auto;
				height:100vh;
			}

			.sidebar{
				padding: 0px 10px 20px 20px;
				display: inline-block;
				position: absolute;
				width:290px !important;
				top:  0;
				bottom: 0;
				left: 0;
				margin-top: 63px;
			}

			#reset-btn{
				font-size: 10px;
			}

			.mapBox{
					width: 20%;
					height: 50px;
			}
				.box-label{
					line-height: 50px;
				}

			.iframeContainer{
					width: 950px !important;
				}

				#sidebar-link-menu{
					text-align: left !important;
					position: absolute;
				}

				#sidebar-link-menu a{
					line-height: 4;
				}
		}


/*==============================
Sources*/

#Sources{
	width: 100%;
	margin: auto;
}


.iframeContainer{
	  margin: auto;
	  padding: 50px 0px 0px 0px;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    position: relative;

}

	.iframe-overlay{
		background-color: rgba(0,0,0,.2);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.iframe {
		padding:0px;
		border:none;
		width: auto;
		width: 100%;
		height: 80vh;
	}


/*=============================
Add Source Form
*/

#addSource input, textarea{
	display: block;
	margin: 20px 20px 20px 20px;
	width: 300px;
}


/*=============================
Utility Pages*/

#main-cont-with-background {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #A9D0F5;
  	background-image: -webkit-linear-gradient(30deg, #A9D0F5 50%, #F5A9BC 50%);
  	z-index: -1;
  	padding-top: 0vh;
}

	@media(min-width:950px){
		#main-cont-with-background{
			padding-top: 5vh !important;
		}
	}

#inner-circle{
	width: 80%;
	margin: auto;
	margin-top: 10vh;
	background-color: #fff;
	position: absolute;
	left: 10%;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	padding: 5vh 20px 5vh 20px;
	position: absolute;
}

#sign-up-header {
	text-align: center;
	font-weight: 900;
	color: #000;
}

#sign-up-desc, #contact-desc{
	display: block;
	max-width: 100%;
	width: 600px;
	margin: auto;
	text-align: center;
	padding-top: 5px;
	line-height: 28px;
}

#sign-up-button{
	z-index: 10000;
	border: 1px solid #f2f2f2;
	padding: 15px 20px 15px 80px;
	max-width: 400px;
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 50px;
	background-color: #fafafa;

}

	#google-icon{}

	#sign-up-text{
		color: #585858;
		font-weight: 400;
		padding: 0px 0px 0px 20px;
		font-size: 16px;
		line-height: 20px;
	}

	#sign-up-button:hover{
		cursor: pointer;
	}
	 #icons8-credit{
	 	position: absolute;
	 	bottom: 0;
	 	color: #fff;
	 	font-size: 12px;
	 }

/*=============================
Privacy Policy*/

#privacyPolicy-container{
	padding: 20px;
	max-width: 600px;
}

	#privacyPolicy-container p{
		margin: 10px 0px 10px 0px;
	}

/*=============================
Contact Us*/

#contact-email{
	text-align: center;
	display: block;
	margin-top: 10vh;
	font-size: 16px;
}

#contact-email:hover{
	color: #585858;
}

@media(min-width:950px){
	#contact-email{
		font-size: 24px;
	}
}


/*=============================
How It Works*/
#how-it-works-container{
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	padding: 5vh 0px 5vh 0px;

}

	.section{
		border-top: 1px solid #f2f2f2;
		width: 90%;
		margin: auto;
		padding:15px 10px;
		max-width: 600px;
	}

	.section h3{
		text-align: left;
		font-weight: 900;
		color: #000;
		padding: 10px;
	}

	#how-it-works-header {
		text-align: center;
		font-weight: 900;
		color: #000;
		width: 90%;
		max-width: 600px;
		margin: auto;
	}

		.section h2, h4{
			text-align: left;
			padding: 10px;
			line-height: 1.3;
		}

	.axis-list{
		width: 90%;
		max-width: 400px;
		margin: auto;
		padding: 0px;
	}

		.axis-list h2{
			color: #fff;
			text-align: left;
		}

		.axis-list h4{
			text-align: left;
			color: #fff;
			margin: 0px;
			padding-top: 0px;
		}

	.axis-list li{
		list-style-type: none;
		padding: 10px;
		border-radius: 5px;
		margin-top: 5px;
		min-height: 200px;
	}

		#left{background-color:#A9D0F5;}
		#left-center{background-color:#E0ECF8;}
		#center{background-color:#E6E6E6;}
		#right-center{background-color:#F8E0E6;}
		#right{background-color:#F5A9BC;}

		.top-row-desc{
			color: #585858 !important;
			min-height: 100px !important;
		}

			.top-row-desc h4{
				color: #585858 !important;
			}

			.top-row-desc h2{
				color: #585858 !important;
			}

		#analysis{background-color:#fafafa; color: #585858;}
			#analysis h2{color:#585858;}
			#analysis h4{color:#585858;}

		#opinion{background-color:#D8D8D8;}
		#speculation{background-color:#A4A4A4;}
		#fake-news{background-color:#585858;}





	#map-preview{
		margin: 20px 0px;
	}


/*====================================
MAP STYLING, mostly from extension
====================================*/
#popup{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	background-color: #fafafa;
	width: 259px;
	height:  300px;
}

#site-link{
	text-align: center;
	padding: 10px;

}

	#site-link a:focus{
		outline: none !important;
		text-decoration: none;
		color: #585858;
	}

	#site-link a:hover{
		outline: none !important;
		text-decoration: underline;
	}

		.container{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
		}

		/*=============================
		Map */

		#map-cont{
			display: block;
			border-radius: 5px;
			width: 100%;
			max-width: 259px;
			margin: auto;
			margin: auto;
		}

		#grid{}

			.row{
				height: 50px;
				width: 300px;
				margin: 0px;
				margin: auto;
			}

				#filter-row{

				}

				#filter-row h5{
					text-align: center;
				}


			.box{
				width: 52px;
				height: 52px;
				display: inline-block;
				border-color: #e6e6e6 #f2f2f2 #e6e6e6 #f2f2f2;
				border-width: 1px 1px 1px 1px;
				border-style: solid;
			}
				.box:hover{
					cursor: pointer;
				}

				.box-top{
					background-color: #fafafa;
					text-align: center;
					vertical-align: middle;
					font-size: 9px;
					color: #333333;
    				line-height: 50px;
				}

				#x1y1, #x5y1{
					text-align: center;
					vertical-align: top;
					line-height: 50px;
					font-size: 12px;
					height: 50px;
					color: #fff;
					opacity: .4;
					z-index: -1;
				}

					.box-top:hover{
						background-color: #f2f2f2;
					}

				.box-empty{
					border: none;
				}

			#row1{
				background-image:  url("../images/speculation.png");
				background-repeat: no-repeat;
				background-size: 260px 50px;
			}
			#row2{
				background-image:  url("../images/opinion.png");
				background-repeat: no-repeat;
				background-size: 260px 50px;
			}
		/* 	#row3{
				background-image:  url("../images/commentary.png");
				background-repeat: no-repeat;
				background-size: 260px 50px;
			} */
			#row3{
				background-image:  url("../images/analysis.png");
				background-repeat: no-repeat;
				background-size: 260px 50px;
			}


				#x0y0{
					font-size: 12px;
					text-align: center;
					width: 260px;
					line-height: 35px;
					background-color: #848484;
				  color: #fff;
				  height: 35px;
					border-color: #e6e6e6 #f2f2f2 #e6e6e6 #f2f2f2;
					border-width: 1px 1px 1px 1px;
					border-style: solid;
					font-style: normal;
					margin: auto;
					display: block;
				}
					#x0y0:hover{
						background-color:#6e6e6e;
						cursor: pointer;
					}

