body {
	width: 100%;
	font-family: 'Lato', serif;
	font-weight: 400;
  	background-color: #fbfbfb;
  	padding: 0px 5px 5px 5px;
	margin: auto;
}

	.lato-light{
		font-family: 'Lato', serif;
		font-weight:  400;
	}

	a{
		font-family: 'Lato', serif;
		font-weight:  900;
	}

	a:hover{text-decoration: none; font-weight:800;}
	a:focus{text-decoration: none;}


	h2{
		font-size:20px;
		font-weight: 900;
		margin: 0px 0px 4px 0px;
		font-family: 'Lato', sans-serif;
		letter-spacing: .05em;
		line-height: 1.25em;
	}
	h2 a:hover{text-decoration:none !important; color: #fff;}

	h1{font-size: 18px;}

	h4{font-size: 20px;}
		h4:hover{text-decoration: none !important;}

	h5{font-size: 15px;}
	h6{
		font-size: 10px;
		display: inline-block;
	}
	p{
		margin:0px;
		font-size: 16px;
	}

	.hoverText:hover{
		cursor: pointer;
		text-decoration: underline
	}

	hr{
		margin: 10px 0px 5px 0px;
	}






/*====================
Main divs
====================*/
	#main-cont{
		margin: auto;
		display: flex;
		flex-wrap:  wrap;
	}

/*=============================
Menubar
*/

#menubar-container{
	height:105px;
	background-color: #ffffff;
	width: 100% ;
	padding:0px 0px 0px 0px;
	border-bottom:  1px solid #f2f2f2;
	overflow: hidden;

}

	#menubar-links-container{
		width: 100%;
		height: 50px;
		padding: 20px 5px 15px 2px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}

		#menubar-links-container a{
			padding:2px 20px 15px 20px;
		}

			#menubar-links-container a:hover{
				text-decoration: underline;
			}
			#menubar-links-container a:focus{
				text-decoration: underline;
			}

#logo-container{
	display: inline-block;
	height:30px;
	margin: 8px 0px 0px 10px;
}

	#logo-image{
		display: inline-block;
		width:34px;
		vertical-align: bottom;
	}

	#logo-text-container{
		margin:  0px 2px 0px 6px;
		display: inline-block;
		font-family: 'Lato', serif;
	}


/* For small screens, dropdown map filter */
#toggle-filter-btn{
	float: right;
	margin: 10px 10px 0px 0px;
	font-weight: 900;
	border-radius:  25px;
	cursor: pointer;
	letter-spacing: 1px

}



#sign-up-btn{
	display: inline-block;
	background-color: #fff;
	border: 1px solid #B8DDFF ;
	font-family: 'Lato', sans-serif;
	color: #B8DDFF;
	padding: 2px 10px 2px 10px !important;
	margin:  1px 10px 0px 0px;
	font-size: 15px;
	border-radius:  25px;
}

	#sign-up-btn a:hover{
		text-decoration: none !important;
	}




/*=============================
Sidebar
*/

.sidebar{
	width: 100%;
	padding: 0px 0px 10px 0px;
	position: relative;
	margin-top: 10px;
}

	/* Helper Text */
	#helper-text-container{
		width:100%;
		padding: 15px 20px 5px 20px;
		max-width:  375px;
		color: #fff;
	}

	/* Search */

		#search-input{
			width: 100%;
			margin: auto;
			display: block;
			height: 50px;
			padding: 10px 10px 10px 10px;
			border: 1px solid #f2f2f2;
			border-radius: 3px;
			max-width:  375px;
		}

			#search-input:focus{
				outline: 1px solid #d8d8d8;
			}

			/* Map */

			.MapFilter{

			}

			#map-filter-container{
				display: block;
				width: 100%;
				margin: auto;
				max-width:  375px;
			}

				.box{
					width: 20%;
					height: 70px;
				}

				.box:hover{
					cursor: pointer;
				}

				.box-label{
					line-height: 66px;
				}

			#reset-btn{
				text-align:center;
				padding:5px;
				font-size: 14px;
				display: block;
			}



/*=============================
Welcome Banner*/
#welcome-banner{
	height: 0px;
	width: 100%;
	max-width: 800px;
}


/*=============================
PostList*/

.postList {
  margin:auto;
  display: flex;
	padding: 0px;
	flex-wrap:  wrap;
	padding-bottom: 80px;
}
		.postInfo:hover{
			background-color: rgba(0,0,0,.3)
		}

		/* Post component */
		.postList  li{
			width: 100%;
			min-width: 200px;
		}

	.postImage{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		width: auto;
	}

	.postInfo {
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		z-index:  -1;
		padding: 10px 15px 10px 20px;

	}



		.postList li h2{
			display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
	        overflow: hidden;
	        z-index:  10;
	        color: #fff;
		}

		.postList li p {
			display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
		}


		/* Post item widths for responsiveness */
		@media(min-width: 600px){
			.postList li{
					width: 50%;
				}

		}

		@media(min-width: 950px){
			.postList li{
					width: 33%;
				}

		}

		@media(min-width: 1300px){
			.postList li{
				width: 25%;
			}
		}

		@media(min-width: 1600px){
			.postList li{
				width: 20%;
			}
		}




















		@media(min-width: 768px){
			.postListContainer{
				margin-top: 10px;
			}

					.postInfo a{
						color: #fff;
						font-weight: 900;
					}

					.iframeContainer{
						width: 710px !important;
					}
		}

		@media(min-width: 950px){
				body{
					height:100vh;
					overflow:hidden !important;
				}

					h2{font-size: 17px;}
					p{font-size: 14px;}

				#logo-container{
					float: left;
				}

				#menubar-container{
					height:50px;
					width: 100% ;
					padding:0px 0px 0px 0px;
					border-bottom:  1px solid #f2f2f2;
					overflow: hidden;
				}

					#menubar-links-container{
						max-width: 60%;
						display: inline-block;
						height: 47px !important;
						margin-left: 25px;
						padding:12px 20px 15px 20px;
						overflow-x: hidden;
						overflow-y: hidden;
					}

						#menubar-links-container a{
							padding:2px 20px 15px 20px;
						}

					#toggle-filter-btn{
						float: right;
						margin: 9px 15px 0px 0px;
						width: 10%;
						min-width: 100px;
						text-align: center;
					}

			.postListContainer{
				margin-top: 50px;
				overflow: auto;
				height:100vh;
			}

			.sidebar{
				padding: 0px 10px 20px 20px;
				display: inline-block;
				position: absolute;
				width:290px !important;
				top:  0;
				bottom: 0;
				left: 0;
				overflow: scroll;
				margin-top: 63px;
			}

			#reset-btn{
				font-size: 10px;
			}

			.box{
					width: 20%;
					height: 50px;
			}
				.box-label{
					line-height: 50px;
				}


			.iframeContainer{
					width: 950px !important;
				}
		}

		@media(min-width: 1100px){
		}


























/*==============================
Sources*/

#Sources{
	width: 100%;
	margin: auto;
}


.iframeContainer{
	  margin: auto;
	  padding: 50px 0px 0px 0px;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    position: relative;

}

	.iframe-overlay{
		background-color: rgba(0,0,0,.2);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.iframe {
		padding:0px;
		border:none;
		width: auto;
		width: 100%;
		height: 80vh;
	}


/*=============================
Add Source Form
*/

#addSource input, textarea{
	display: block;
	margin: 20px 20px 20px 20px;
	width: 300px;
}








