<!DOCTYPE html>
<html>
  <head>
  	 <% include ../partials/head.ejs %>
  </head>
  <body>
	<div id="main-cont">

		<form
			id="addTopic"
			action="/api/topic"
			method="post"
		>
			<input name="name" id="name" placeholder="name"><br>
      <input name="tag1" id="tag1" placeholder="Tag 1"><br>
      <input name="tag2" id="tag2" placeholder="Tag 2"><br>
      <input name="tag3" id="tag3" placeholder="Tag 3"><br>

			<input type="submit" value="Add Topic">

		</form>
	</div><!-- main cont -->
  </body>
</html>
