<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont-with-background">
    <% include ../partials/menubar.ejs %>

      <div id="inner-circle">
        <h3 id="sign-up-header">Contact Us</h3>

        <a id="contact-email" href="mailto:contact@mediabiasmap.com">contact@mediabiasmap.com</a>
     </div>

  </div>



  </div><!-- main cont -->
  </body>
</html>
