<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont-with-background">
      <div id="inner-circle">
        <h3 id="sign-up-header">Contact Us</h3>

        <h2><a id="contact-email" href="mailto:contact@mediabiasmap.com">contact@mediabiasmap.com</a></h2>

        <a id="home-from-signup-success" href="/">Go to the homepage</a>
     </div>

  </div>



  </div><!-- main cont -->
  </body>
</html>
