<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont">
    <h1><a href="/">You probably want to head back to the home page</a></h1>
  </div><!-- main cont -->
  </body>
</html>
