<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont">



      <a href="/auth/google" >SIGN IN TO GOOGLE</a>

      <a href="/" >SIGN IN TO GOOGLE</a><br/>



  </div><!-- main cont -->
  </body>
</html>
