<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont">
    <h1>Sign Up</h1>

      <a href="/auth/google" >SIGN IN TO GOOGLE</a>



  </div><!-- main cont -->
  </body>
</html>
