<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont-with-background">
      <div id="inner-circle">
        <h3 id="sign-up-header">You're ready to rate and share!</h3>
        <h4 id="sign-up-desc">
           Any time you're using Chrome to read the news or explore a political topic, rate and share whatever you just finished. And if it relates to a recent topic, be sure to use the dropdown menu.<br><br>

           <strong>Thanks for helping out!</strong>
        </h4>

        <a id="home-from-signup-success" href="/">Go to the homepage</a>
     </div>
  </div>



  </div><!-- main cont -->
  </body>
</html>
