<!DOCTYPE html>
<html>
  <head>
     <% include ../partials/head.ejs %>
  </head>
  <body>
  <div id="main-cont">
    <img src="<%=user.image %>"/>
    <h1><%=user.name %></h1>
  </div><!-- main cont -->
  </body>
</html>
